<div class="navbar">

<a href="/admin/home">Home</a>
<a href="/search-book">Search</a>
<a href="/book-availability">Availability</a>
<a href="/return-book">Return</a>

<a href="/reports/books">Books</a>
<a href="/reports/members">Members</a>
<a href="/reports/active-issues">Active</a>
<a href="/reports/overdue">Overdue</a>

{% if request.session.role == 'ADMIN' %}
<a href="/admin/add-book">Add Book</a>
<a href="/admin/update-book">Update Book</a>
<a href="/admin/add-membership">Add Member</a>
<a href="/admin/update-membership">Update Member</a>
<a href="/admin/user-management">Users</a>
{% endif %}

<a href="/logout">Logout</a>

</div>
